div.outer {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

h1, h2, h3, h4 { font-weight: 200; }

#colorbar{
  opacity:0.8;
}
#colorbar:hover{
  opacity:0.95;
  transition: opacity 500ms 1s;
}

#legendplot {
  /* Appearance */
  background-color: white;
  padding: 5px 5px 5px 5px;
  cursor: move;
}

#legendplot:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

div.control-slider-bar label {
  position:absolute; 
  margin-left:15px;
}

#leaflet-control-zoom {
  position:relative;
  margin-top: 50px;
}

.leaflet-popup-content-wrapper {
  color: #323c46;
}